#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUN     3
#define MOUSE   4
#define SCROLL  5
#define SNIPE   6
#define NAGI    7

#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <behaviors/naginata.dtsi>

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <200>;
    flavor = "tap-preferred";
    quick-tap-ms = <150>;
};

&caps_word { continue-list = <UNDERSCORE MINUS>; };

/ {
    macros {
        type_dins: type_dins {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp LS(D) &kp I &kp N &kp S &kp N1 &kp N0 &kp N2 &kp N3 &kp N6>;
        };

        /* 半角数字マクロ: INT5(無変換)でIMEを半角英数に切替えてから数字入力 */

        hn0: halfwidth_num_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp N0>;
        };

        hn1: halfwidth_num_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp N1>;
        };

        hn2: halfwidth_num_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp N2>;
        };

        hn3: halfwidth_num_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp N3>;
        };

        hn4: halfwidth_num_4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp N4>;
        };

        hn5: halfwidth_num_5 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp N5>;
        };

        hn6: halfwidth_num_6 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp N6>;
        };

        hn7: halfwidth_num_7 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp N7>;
        };

        hn8: halfwidth_num_8 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp N8>;
        };

        hn9: halfwidth_num_9 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp N9>;
        };
    };

    behaviors {
        cmqus: comma_question {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_QUESTION";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QUESTION>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        dtsmi: dot_semi {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_SEMI";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp SEMI>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        /* キー/キー ホールドタップ (長押し=第1引数, タップ=第2引数) */

        ht: hold_tap_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_KP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            bindings = <&kp>, <&kp>;
        };

        /* ROW2専用: 遅めのホールドタップ (長押し判定を遅く) */

        ht_slow: hold_tap_slow {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_SLOW";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <400>;
            bindings = <&kp>, <&kp>;
        };

        /* マウスクリック/キー ホールドタップ (長押し=マウスボタン, タップ=キー) */

        ht_mkp: hold_tap_mkp {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_MKP";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            bindings = <&mkp>, <&kp>;
        };

        /* レイヤートグル/キー ホールドタップ (長押し=レイヤートグル, タップ=キー) */
        ht_tog: hold_tap_toggle {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_TOG";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <300>;
            bindings = <&tog>, <&kp>;
        };

        /* 9/マクロ タップダンス (1回=9, 2回=Dins10236マクロ) */

        td_9_dins: tap_dance_9_dins {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_9_DINS";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp N9>, <&type_dins>;
        };
    };

    combos {
        compatible = "zmk,combos";

        default_bootloader_r {
            bindings = <&bootloader>;
            key-positions = <10 11>;
        };

        default_bootloader_l {
            bindings = <&bootloader>;
            key-positions = <0 1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        /* ===== LAYER 0: DEFAULT ===== */

        default_layer {
            label = "QWRT";
            bindings = <
&kp LALT            &ht F2 Q        &ht F4 L          &ht N7 H            &ht N8 C     &ht N9 F                   &ht LS(MINUS) P  &ht LS(SEMI) B  &ht MINUS U  &ht FSLH MINUS   &kp LS(SQT)  &mkp LCLK
&kp TAB             &kp A            &kp N             &ht_slow N4 R       &ht_slow N5 S  &ht_slow N6 W                &ht_slow LC(C) G   &ht_slow LC(V) T  &ht_slow UP E  &ht_slow DOWN O    &ht_slow LEFT I  &ht_slow RIGHT COMMA
&kp LCTRL           &kp LEFT_SHIFT  &ht F8 Z          &ht N1 Y            &ht N2 M     &ht N3 V                   &ht LC(Z) J      &ht LC(Y) K     &ht LC(A) D  &ht_tog NAGI BSPC  &kp X        &ht LS(FSLH) DOT
&ht LG(LS(S)) LGUI  &ht N0 LALT     &ht_mkp LCLK ESC  &ht_mkp RCLK LSHFT  &lt 1 SPACE                &lt 2 ENTER  &ht DEL BSPC                                                                &kp GRAVE
            >;
        };

        /*
         * ===== LAYER 1: NUMBER (変更済み) =====
         *
         * 左手:
         * ┌──────┬──────┬──────┬──────┬──────┬──────────┐
         * │ ESC  │      │  7   │  8   │  9   │ マクロ   │
         * ├──────┼──────┼──────┼──────┼──────┼──────────┤
         * │  W   │ F4   │  4   │  5   │  6   │  HOME    │
         * ├──────┼──────┼──────┼──────┼──────┼──────────┤
         * │ CTRL │ ALT  │  1   │  2   │  3   │  END     │
         * └──────┴──────┼──────┼──────┼──────┼──────────┘
         *               │  0   │      │      │          │
         *               │ 変換 │ひらカタ│半角全角│
         *
         * 右手:
         * ┌──────┬──────┬──────┬──────┬──────┬─────────┐
         * │ F2   │ F4   │  F8  │ F11  │ F12  │ALT+F11  │
         * ├──────┼──────┼──────┼──────┼──────┼─────────┤
         * │CTR+C │CTR+C │  ↑   │  ↓   │  ←   │   →     │
         * ├──────┼──────┼──────┼──────┼──────┼─────────┤
         * │CTR+Z │CTR+Y │CTR+A │CTR+W │PGDN  │  PGUP   │
         * └──────┴──────┼──────┼──────┤      └─────────┘
         *               │      │      │
         */

        number_layer {
            label = "NUM";
            bindings = <
&kp ESC    &none     &hn7      &hn8      &hn9       &type_dins               &kp F2       &kp F4       &kp F8       &kp F11      &kp F12      &kp LA(F11)
&kp W      &kp F4    &hn4      &hn5      &hn6       &kp HOME                 &kp LC(C)    &kp LC(C)    &kp UP       &kp DOWN     &kp LEFT     &kp RIGHT
&kp LCTRL  &kp LALT  &hn1      &hn2      &hn3       &kp END                  &kp LC(Z)    &kp LC(Y)    &kp LC(A)    &kp LC(W)    &kp PG_DN    &kp PG_UP
&none      &hn0      &kp INT4  &kp INT2  &kp GRAVE                   &trans  &trans                                                            &trans
            >;
        };

        /* ===== LAYER 2: SYMBOL (変更なし) ===== */

        symbol_layer {
            label = "SYM";
            bindings = <
&none       &kp EXCLAMATION  &kp AT_SIGN   &kp HASH      &kp DOLLAR    &kp PERCENT               &kp CARET       &kp AMPERSAND  &kp ASTERISK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &bootloader
&bt BT_CLR  &bt BT_SEL 0     &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4              &kp MINUS       &kp EQUAL      &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &kp SQT                &none
&none       &trans           &trans        &trans        &trans        &trans                    &kp UNDERSCORE  &kp PLUS       &trans            &trans                &kp NON_US_BACKSLASH   &none
&trans      &trans           &trans        &trans        &trans                          &trans  &trans                                                                                        &trans
            >;
        };

        /* ===== LAYER 3: FUNCTION (変更なし) ===== */

        function_layer {
            label = "FUN";
            bindings = <
&none   &kp F1  &kp F2   &kp F3   &kp F4   &none              &none  &none  &none  &none  &none  &none
&none   &kp F5  &kp F6   &kp F7   &kp F8   &none              &none  &none  &none  &none  &none  &none
&none   &kp F9  &kp F10  &kp F11  &kp F12  &none              &none  &none  &none  &none  &none  &none
&trans  &trans  &trans   &trans   &trans              &trans  &mo 3                              &trans
            >;
        };

        /*
         * ===== LAYER 4: MOUSE (変更なし: 全キーを&transに) =====
         * トラックボール接触によるレイヤー切替を無効化
         */

        mouse_layer {
            label = "MOUSE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans                                  &trans
            >;
        };

        /* ===== LAYER 5: SCROLL (変更なし) ===== */

        scroll_layer {
            label = "SCROLL";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans  &trans                                  &trans
            >;
        };

        /* ===== LAYER 6: SNIPE (変更なし) ===== */

        snipe_layer {
            label = "SNIPE";
            bindings = <
&bootloader  &trans  &trans  &trans  &trans  &trans                 &trans     &trans  &trans  &trans  &trans  &trans
&trans       &trans  &trans  &trans  &trans  &trans                 &trans     &trans  &trans  &trans  &trans  &trans
&trans       &trans  &trans  &trans  &trans  &trans                 &trans     &trans  &trans  &trans  &trans  &trans
&trans       &trans  &trans  &trans  &trans              &mkp RCLK  &mkp LCLK                                  &trans
            >;
        };

        /* ===== LAYER 7: NAGINATA (薙刀式) =====
         * zmk-naginata モジュールが同時打鍵・濁音・拗音等を内部処理する。
         *
         * 単打面:
         *   ヴ(Q) き(W) て(E) し(R) [T]  |  [Y] る(U) す(I) へ(O) [P]
         *   ろ(A) け(S) と(D) か(F) っ(G) |  く(H) あ(J) い(K) う(L) ー(;)
         *   ほ(Z) ひ(X) は(C) こ(V) そ(B) |  た(N) な(M) ん(,) ら(.) れ(/)
         *
         * Row0左端=C, Row1左端=V (CTRL+C/Vコピペ用)
         * Row3左端=CTRL, SPACEを左にずらしtog NAGIを配置
         * Row3右側: BSPC/ENTER入替, 右端=日本語切替
         */
        naginata_layer {
            label = "NAGI";
            bindings = <
&kp C      &ng Q      &ng W      &ng E      &ng R      &ng T                    &ng Y      &ng U      &ng I        &ng O        &ng P      &mkp LCLK
&kp V      &ng A      &ng S      &ng D      &ng F      &ng G                    &ng H      &ng J      &ng K        &ng L        &ng SEMI   &kp LBKT
&none      &ng Z      &ng X      &ng C      &ng V      &ng B                    &ng N      &ng M      &ng COMMA    &ng DOT      &ng SLASH  &kp DOT
&kp LCTRL  &none      &ng F      &ng SPACE  &tog NAGI                &kp ENTER  &kp LSHFT                                                  &kp GRAVE
            >;
        };
    };
};
